

#wrap{
position: static;
}


body{
    
    background-image:url(../slike/pozadinaPocetne.png);
    margin: 10px;
    padding: 0px;
    background-size: cover;
}


.zaglavlje{
   /* background-image: url(../slike/zaglavljePOzdina.jpg);*/
    width: 1600px;
    background-size: cover;
}

#logo{
    height: 50px;
    width: auto;
  
}

#navBar{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}
#navBar ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 10px;
    background-color: rgb(1, 1, 41);
    width: 100wh;
  }

@media screen and (max-width:576px) {
#navBar ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    /* margin: 60px; */
    padding: 0;
    padding-top: 15px;
    background-color: rgb(1, 1, 41);
    width: 100wh;
  }
}

#navBar li{
    display: inline;
    
}
#navBar a:link,#navBar a:visited{
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color:#FFFFFF;

}
#navBar a:hover{
    /* background-color: #2AAFDB; */
    color:#ffffff85;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#datum{
    text-align: center;
    color:#FFFFFF;
    
}/*
.footer1{
    /*background-image: url(../slike/zaglavljePOzdina.jpg);
    height: 100%;
    background-size: cover;
    
    color:#FFFFFF;

}*/
.footer1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(1, 1, 41);
    width: 100wh;
    font-size: 50px;

}
.dno{
    text-align: center;
    font-size: 20px;
    color: white;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    color: wheat;
    text-align: center;
    text-decoration: transparent;
}

h1{
    color: wheat;
}



.slike{
    
    height: 150px;
    width: 150px;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    text-align: center;
}



.grid-container{
    background-color: white;
    display: grid;
    width: 100wh;
    padding: 100px;
    justify-content: space-around;
    align-content: center;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    border-radius: 5px;
}
  
.grid-item{
   /* grid-template-columns: 30% 30% 30%;*/
   /* border: 2px double wheat; */
    border-radius: 5px;
    align-content: center;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border: 0.5px solid rgba(128, 128, 128, 0.251);
    -webkit-box-shadow: 2px -1px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -1px 17px -3px rgba(0,0,0,0.75);
    box-shadow: 2px -1px 17px -3px rgba(0,0,0,0.75);
}
.grid-item a{
    
    
    color: rgb(1, 1, 41);
}
.grid-container img{
    align-content: center;
    max-width: 170px;
    height: auto;
  }
.description{
   /* background-color: #207A96;*/
    /* background-color: rgb(111, 174, 226); */
    color: grey;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
  #strelica{
    size: 5px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: yellow;
    border-radius: 50%;
}
